<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TrayPingTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
      <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    </configSections>
    <nlog>
      <extensions>
        <add assembly="LogentriesNLog"/>
      </extensions>
      <targets>
        <target name="logentries" type="Logentries" debug="true" httpPut="false" ssl="false"
        layout="${message}"/>
      </targets>
      <rules>
        <logger name="*" minLevel="Debug" appendTo="logentries"/>
      </rules>
    </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TrayPingTest.Properties.Settings>
            <setting name="LocalFileLogLocation" serializeAs="String">
                <value>%userprofile%\traypingtest.log</value>
            </setting>
            <setting name="EnableLocalFileSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCloseNotice" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnableCloudLogging" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LogEntriesAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TestTarget" serializeAs="String">
                <value>196.43.22.222</value>
            </setting>
        </TrayPingTest.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="LOGENTRIES_TOKEN" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>