<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TrayPingTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <TrayPingTest.Properties.Settings>
            <setting name="TestTarget" serializeAs="String">
                <value>196.43.22.222:80</value>
            </setting>
            <setting name="LocalFileLogLocation" serializeAs="String">
                <value>%userprofile%\traypingtest.log</value>
            </setting>
            <setting name="EnableLocalFileSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowCloseNotice" serializeAs="String">
                <value>True</value>
            </setting>
        </TrayPingTest.Properties.Settings>
    </userSettings>
</configuration>